body {
	background-color:white;
	font-family:"Open Sans", sans-serif;
}

.clearfix::after {
	  visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
}

.wrapper {
	width:90%;
	margin:0 auto;
	
	
}

.header_top div {
	width:33%;
	float:left;
	
	
	margin-top:11.5%;

}

.social {
	text-align:right;
}

.social ul li {
	display:inline-block;
}

.city p {
	color:#C1C1C1;
	font-size:0.81em;
	padding:10px;
}

.city p span {
	vertical-align:super;
}

.city p span:last-of-type {
	margin-left:8%;
	
}

.search {
	height:40px;
	background-color:#439ACF;
	margin-top:1%;
	position:relative;
}

.input_search {
	position:relative;
	width:40%;
	margin:0 auto;
}

.input_search input[type=text] {
	width:100%;
	border-radius: 20px;
    border: 0;
    margin: 8px;
    padding: 5px;
}

.search_btn {
	position:absolute;
	    top: 8px;
    right: -15px;
}

.menu {
height:40px;
background-color:#00679C;
}

.menu ul li {
	display:inline-block;
	margin:0px 0 0 80px;
	vertical-align:middle;
}

.menu ul li a {
	display:block;
	color:white;
	text-decoration:none;
}

.menu ul li:first-child {
	margin:7px 0 0 20px;
}
.menu ul li:nth-child(2) {
	margin:0px 0 0 20px;
}


.banner {
	margin-top:3%;
	background:#fff url(../img/banner.jpg) no-repeat 80% 20%;
	width:100%;
	height:165px;
	background-size:contain;
}

.bradcrumbs {
	margin-top:3%;
	color:#C1C1C1;
	font-size:1em;
}

.bol {
	margin-top:3%;
}

.bol>p {
	text-align:center;
}

.man {
	background:#fff url(../img/man.jpg) no-repeat 30% 40%;
	height:700px;
	margin-top:3%;
	background-size:contain;
}

.choice  {
	float:right;
	width:30%;
	margin-top:5%;
}

.choice ul {
	margin-top:20px;
}

.choice ul li {
    color: #91C5EF;
    cursor: pointer;
    margin-top: 15px;
    background: url(../img/marker.png) no-repeat 2px 50%;
    padding-left: 16px;
}

.choice_text {
	font-size:0.7em;
	margin-top:20px;
}


.title {
	width:100%;
	
	background:url(../img/title1.png) no-repeat;
}

.title_p {
	font-size:20px;
	color:white;
	margin:5% 5% 1.3% 5%;
	padding-top:15px;
}

.title p {
	font-size:20px;
	color:white;
	margin:5%;
	padding-top:15px;
}

.title div {
	float:left;
	
}

.title_img {
	background:#fff url(../img/pechen.jpg) no-repeat;
	height:460px;
	width:40%;
	margin-left:10%;
	background-size:contain;
}

.title_desk {
	width: 65%;
    padding: 15%;

}

.title_desk_border {
	background: url(../img/ramka.png) no-repeat;
   
    width: 35%;
    
    background-size: contain;
    margin-left: 100px;
    margin-top: 30px;
}
.title_desk h3 {
	font-size:1.3em;
	font-weight:bold;
}

.title_desk p {
	font-size:1em;
	color:black;
	
}

.lechenie {
	width:100%;
	
	background:url(../img/lechenie.png) no-repeat;
}

.lechenie_bg{
	background:url(../img/lechenie.jpg) no-repeat;
	height:537px;
	background-size:cover;
	position:relative;
}

.lechenie_quest {
	
	    position: absolute;
    right: 0%;
    bottom: 20%;
    
    text-align: right;
    font-size: 3.3em;

    	 padding:10px;
 color:#fff;
 background:#2196F3;
 
 width:40%;
 opacity: 0.7;
 filter:alpha(opacity=70);
 -moz-opacity:0.7;
 -khtml-opacity: 0.7;
}

.relative {
	position:relative;
}
.absolute {


	
}

.prev {
	   width: 35px;
    height: 35px;
    position: absolute;
    top: 45%;
    left: 5%;

}

.next {
	width: 35px;
    height: 35px;
    position: absolute;
    top: 45%;
    right: 5%;
}

.green {
	width:100%;
	background:url(../img/green.png) no-repeat;
}

.green_bg {
	background:url(../img/green_bg.png) no-repeat;
	height:537px;
	background-size:cover;
	position:relative;
}

.green_bg ul {
	padding:8% 0 0 15%;
	width:35%;
}

.green_bg ul li {
	margin-top:30px;
}

.green_bg ul li a {
	color:#A2A3A3;
	text-decoration:none;
	margin-left:15px;
}

.green_bg ul li:hover {
	background:url(../img/active.png) no-repeat;

}

.green_bg ul li a:hover {
	color:#678419;
	text-decoration:underline;
}

.plan {
	background:url(../img/plan.jpg);
	    height:713px;
    /* margin-top: 5%; */
    background-size: cover;
}

.plan h2 {
	    text-align: center;
    color: white;
    font-size: 2em;
    padding-top: 2%;
}

.plan_p {
	color:white;
	text-align:center;
	font-size:1em;
	margin-top:2%;
}

.select {
	text-align:center;
	margin-top:2%;

}

.select button {
	   height: 40px;
    background-color: #439ACF;
    color: white;
    border: none;
    font-weight: bold;
}

.select select {
	    width: 36%;
    height: 40px;
    padding: 10px;
    margin-right:-5px;
}

.item {
	
    width: 25%;
    float: left;
    height: 100px;
    margin-left: 5%;
    margin-top: 5%;
}

.item_bg {
	    	 padding:10px;
 color:#fff;
 background:#2196F3;
 
 width:100%;
 opacity: 0.7;
 filter:alpha(opacity=70);
 -moz-opacity:0.7;
 -khtml-opacity: 0.7;
}

.item h3 {
	    font-size: 1.3em;
    color: white;
    margin-left: 10%;
    margin-bottom: 5px;
}

.item ul li {
	padding:2% 10%;
}

.item_bg {
	position:relative;
}

.item_img {
	position:absolute;
	width:55px;
	height:55px;
	background:url(../img/clock.png);

    top: 25%;
    left: -8%;
}

.next_day {
	color:white;
	margin-left:27%;
}

.item img {
	margin-top: 8%;
    margin-left: 30%;
}